body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.main-page {
    flex: 1;
}


.container-header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 200px;
}
.header-logo {
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul a {
    text-decoration: none;
    color: white;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

/* header section ends here */

/* hero section starts here */

.container-hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      padding: 100px 200px;
      gap: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-top: 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.hero {
}

.hero-maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    background-color: gray;
    padding: 100px;
    width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* hero section ends here */

/* info section starts here */


.container-info { 
    display: flex;
      flex-direction: column;
      padding: 50px 200px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    gap: 50px;
    margin: 50px;
        justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.info-image {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 12px;
    border-width: 5px;

}

.info-text {
    box-sizing: border-box;
    width: 150px;
    text-align: center;

}

/* info section ends here */

/* quote section starts here */

.container-quote {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #E5e7eb;
    padding: 100px 300px;
}
.quote {
    box-sizing: border-box;
    display: flex;
}

.container-quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.cite {
display: flex;
justify-content: right;
}

/* quote section ends here */

/* modal section starts here */

.container-modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal {
    display: flex;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    border-radius: 8px;
    width: 900px;
    box-sizing: border-box;
    margin: 100px 300px;
    padding: 40px 60px;
}

.modal-button button {
    background-color: #3882F6;
    border-color: white;
    color: white;
    padding: 10px 30px 10px 30px;
    margin-top: 12px;
    font-size: 18px;
    border-radius: 10px;
    border-style: solid;
}

.modal-header {
    font-size: 24px;
    font-weight: 500;
}
/* modal section ends here */

/* footer section */

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

}
